body {
  font-family: "open-sans", sans-serif;
  background-color: #000;
  color: #81848a;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
}

#remove-padding {
  padding-right: 0;
  padding-left: 0;
}
header {
  background-color: #000;
}

nav a {
  font-size: 1.4em;
  margin-left: 15px;
  font-weight: 400;
}

.main {
  margin-top: 61px;
  background: #000;
}

.main-text {
  position: relative;
  background: url("images/laptop.jpg");
  background-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh;
  background-repeat: no-repeat;
  font-weight: 600;
}

.main-text div {
  margin: 1.6em;
}

footer ul {
  display: flex;
  list-style: none;
}

.main-text ul {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

footer li {
  margin: auto 5px;
}

.main-text li {
  margin-right: 1em;
}
