body {
  font-family: "open-sans", sans-serif;
  /* background-color: #fff; */
  color: #81848a;
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
}

#remove-padding {
  padding-right: 0;
  padding-left: 0;
}
header {
  background-color: #000;
}

nav a {
  font-size: 1.4em;
  margin-left: 15px;
  font-weight: 400;
}

.main {
  margin-top: 61px;
}

.main-img {
  position: relative;
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh;
  font-weight: 600;
}
.img-fluid {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.remove-border {
  border-radius: 0;
}

.main-text {
  position: absolute;
  top: 0;
  margin: 1.6em;
  font-size: 90%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #000;
  height: 40px;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 5px;
}

.main-img ul {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

footer li {
  margin: auto 5px;
}

.main-img li {
  margin-right: 1em;
}
.heading-section {
  background-color: #fff;
  width: 80%;
  margin: -20px auto auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh;
  font-size: 130%;
  border-radius: 10px;
}

.heading-section h3 {
  text-align: center;
  font-weight: 600;
  margin: auto;
  color: #000;
}

.content-section {
  width: 100%;
  height: auto;
}

.projects {
  padding-top: 10px;
}

.projects h5 {
  font-weight: 800;
  color: #000;
  margin-top: 1.6em;
  font-size: 1.2em;
}

.project-article {
  display: grid;
  grid-template-columns: 1fr;
}

.project-article figure {
  height: 100%;
  width: 100%;
}

.project-content {
  height: max-content;
  font-weight: 400;
  margin-top: -17px;
}

.skills {
  margin-bottom: 39px;
  padding-top: 10px;
  background-color: black;
}

.skills h3,
.skills h4 {
  font-size: 1.2em;
}

.languages,
.frameworks {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
}

.framework,
.language {
  width: 20%;
}

.framework div,
.language div {
  width: 30px;
  height: 30px;
  margin: auto;
}

.language h6,
.framework h6 {
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

@media only screen and (min-width: 768px) {
  .main {
    margin-top: 62px;
  }

  .main-img {
    grid-template-rows: 50vh;
  }

  .project-article {
    grid-template-columns: 1fr 1fr;
  }
  .project-article figure {
    height: 80%;
    width: 80%;
    margin: auto;
  }

  .project-content {
    width: 80%;
    margin: auto;
  }

  .framework,
  .language {
    width: 10%;
    margin: 0;
  }

  /* .framework div,
  .language div {
    width: 30px;
    height: 30px;
    margin: auto;
  } */
}
